@if (level == null)
{

}
else
{
    <div style="padding: 5px; background: black; float: left;">
        <svg width="@level.Size.WidthPX" height="@level.Size.HeightPX" class="game-level">
            @for (int x = 0; x < level.Cells.GetLength(0); x++)
            {
                for (int y = 0; y < level.Cells.GetLength(1); y++)
                {
                    <rect x="@SVGCoord(x)" y="@SVGCoord(y)" width="@level.Size.CellPX" height="@level.Size.CellPX" fill="@level.Cells[x,y].Color" stroke="#999999" stroke-width="1" />
                }
            }
        </svg>
    </div>
}
@code {
    [Parameter]
    private Game.DataModels.Level level { get; set; }

    public int SVGCoord(int p)
    {
        return p * level.Size.CellPX;
    }
}
